/* =============
    Base
============= */

.css-grid-global{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

      
    @include xxl {
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: header;
    }
}

.show-for-xl{
    display: none;

    @include xl{
        display: block;
    }
}

.show-for-lg{
    display: none;

    @include lg{
        display: block;
    }
}

.content-spacing{
    margin: 16px 0 0 0;

    @include lg{
        margin: 24px 0 0 0;
    }
}
