/* =============
    Base
============= */

.css-grid-global{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". global-grid .";

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: global-grid;
    }
}


.show-for-md{
    display: none;

    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;

    @include lg{
        display: block;
    }
}

.show-for-xl{
    display: none;

    @include xl{
        display: block;
    }
}

.hide-for-md{
    @include md{
        display: none;
    }
}