
#homepage-card-container{
    background-color: var(--blush-pink);
}
#homepage-cards {

    padding: 0;
    margin: 0;
    background-color: var(--blush-pink);

    @include md{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "hc1, hc2"
        "hc3, hc4"
        ;
    }


    li {
        
        list-style: none;
        background-color: white;
        margin: 40px 0 40px 0;
        padding: 16px 0 16px 0;

        @include md{
            margin: 16px 8px;
        }

        .home-card-img{
            width: 100%;
            height: 320px;
            object-fit: cover;
            padding-bottom: 16px;
        }

        h1{
            text-align: center;
            padding-bottom: 16px;
        }

        .home-card-button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 16px;
        }

    }

   

}

#flora-cards{
    padding: 0;
    margin: 0;
    background-color: var(--blush-pink);

    li {
        
        list-style: none;
        background-color: white;
        margin: 40px 0 40px 0;
        padding: 16px 0 16px 0;

        .flora-card-img{
            width: 100%;
            height: 320px;
            object-fit: cover;
            padding-bottom: 16px;
        }

        h1{
            text-align: center;
            padding-bottom: 16px;
        }

        .flora-card-button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 16px;
        }

    }
}



