section {
    div {
        #upper-cards {

            .circle-card {
                display: grid;
                grid-template-columns: 65% auto;
            }

        }

    }
}

#upper-cards {

    display: grid;
    gap: 24px;

    @include md {
        grid-template-columns: 49% auto;
    }

    @include xxl {
        grid-template-columns: auto 720px 720px auto;
        grid-template-areas: ". adopt vet .";
    }

    #adopt {
        @include xxl {
            grid-area: adopt;
        }
    }

    #vet {
        @include xxl {
            grid-area: vet;
        }
    }

    .circle-card {
        background-color: #E8ECED;
    }
}