/* =============
    Heroes
============= */
.heroes {
    img {
        width: 100%;
    }

    ul {
        padding-left: 0%;

        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(2);
        }

        li {
            list-style-type: none;
            padding-left: 0%;

            
        }
    }

    


}

section {
    section {
        #hero-boxes {

            

            #left-box{
                background-color: #00AFDA;
                h3{
                    font-weight: 800;
                font-size: rem-calc(18);

                @include lg{
                    font-weight: 800;
                font-size: rem-calc(25);
                }
                }
                p{
                    font-weight: 500;
                    font-size: rem-calc(16);
                }
                button{
                    font-weight: 800;
                font-size: rem-calc(18);
                }
            }

            #right-box{
                background-color: #E1F9FF;
                p{
                    font-weight: 400;
                    font-size: rem-calc(16);
                }
            }

            @include md {
                display: grid;
                grid-template-columns: 40% auto;
            }
            @include lg {
                display: grid;
                grid-template-columns: 50% 50%;
            }

        }
    }
}

.upper-tab{
    padding: 16px 0 16px 0;
}


#hero2{

    @include xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". hero2 .";
    }

    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include lg{
            grid-template-columns: 65% auto;
        }

        @include xl{
            grid-template-columns: 60% auto;
            grid-template-areas: 
            "hero1 hero2"
            "hero1 hero3";
        }

        @include xxl{
            grid-area: hero2;
        }

        li{
            img{
                width: 100%;
            }
        }

        #image1{
            @include xl{
                grid-area: hero1;
            }
        }

        #image2{
            @include xl{
                grid-area: hero2;
            }
        }

        #image3{
            @include xl{
                grid-area: hero3;
            }
        }
    }
}