/* =============
    Heroes
============= */
.heroes {
    img {
        width: 100%;
    }

    ul {
        padding-left: 0%;

        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(2);
        }

        li {
            list-style-type: none;
            padding-left: 0%;

            
        }
    }

    


}

section {
    section {
        #hero-boxes {

            @include md {
                display: grid;
                grid-template-columns: 40% auto;
            }
            @include lg {
                display: grid;
                grid-template-columns: 50% 50%;
            }

        }
    }
}