.hero-img{
    margin-top: 100px;
    width: 100%;
}

.hero-text{
    padding: 24px 0 24px 0;
    font-weight: 600;
    font-size: rem-calc(18);
    line-height: rem-calc(24);
    color: var(--bark-brown);
    @include md{
        text-align: center;
    }
    @include lg{
        padding: 24px 200px;
    }
}

.hero-heading{
    color: var(--bark-brown);
    text-align: center;
    font-size: rem-calc(40);
    padding-top: 32px;
}