/* =============
    Heroes
============= */
.cards{
    ul{
        padding-left: 0%;
        li{
            list-style-type: none;
            img{
                width: 100%;
            }
        }
    }
}
