/* =============
    Heroes
============= */
.cards{
    ul{
        padding-left: 0%;
        li{
            list-style-type: none;
            img{
                width: 100%;
            }
        }
    }
}

#news{
    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        grid-template-rows: repeat(3, 433px);
        gap: 16px;
        }
    }
}
