/* =============
    Heroes
============= */
.cards{
    ul{
        padding-left: 0%;
        li{
            background-color: #E8ECED;
            list-style-type: none;
            img{
                width: 100%;
            }
        }
    }
}

.card-text{
    padding: 8px 0px 16px 0px;
    p{
        padding: 8px 0 8px 0;
    }
}

section{
    div{
        h1{
            font-weight: 400;
            font-size: rem-calc(20);

            @include md{
                font-weight: 400;
                font-size: rem-calc(28);
            }

            @include lg{
                font-weight: 400;
                font-size: rem-calc(37);
            }
        }
    }
}

#news{

    h2{
        font-weight: 800;
        font-size: rem-calc(27);
    }
    p{
        font-weight: 400;
        font-size: rem-calc(16);
    }
    button{
        font-weight: 700;
        font-size: rem-calc(14);
    }

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". news .";
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    ul{
        display: grid;
        gap: 16px;

        @include md{
            grid-area: news;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "c1 c1 c2 c2"
            "c3 c3 c4 c4"
            ". c5 c5 .";
        }

        @include lg{
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas: 
            "c1 c1 c2 c2 c3 c3"
            ". c4 c4 c5 c5 .";
        }

        #card1{
            @include md{
                grid-area: c1;
            }
        }

        #card2{
            @include md{
                grid-area: c2;
            }
        }

        #card3{
            @include md{
                grid-area: c3;
            }
        }

        #card4{
            @include md{
                grid-area: c4;
            }
        }

        #card5{
            @include md{
                grid-area: c5;
            }
        }


        li{
            img{
                width: 100%;
            }
        }
    }
}
