#flora-shop{
    background-color: var(--blush-pink);
    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "shop-txt shop-img";
    }

#flora-shop-content{
    padding: 16px 0;
    grid-area: shop-txt;
display: flex;
align-items: center;

    p {
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: rem-calc(24);
        color: var(--bark-brown);
        padding-bottom: 16px;
    }

    #flora-shop-link{
        display: inline;
        vertical-align: middle;

        
        a{
            vertical-align: middle;
        font-weight: 600;
        font-size: rem-calc(16);
        line-height: rem-calc(24);
        color: var(--forest-green); 
        
        }

        img{
            vertical-align: middle;
            filter: brightness(0) saturate(100%) invert(22%) sepia(5%) saturate(4174%) hue-rotate(120deg) brightness(99%) contrast(82%);
        }
    }
}

#flora-shop-img{

    grid-area: shop-img;
    aside{
        img{
            height: 340px;
            width: 100%;
            object-fit: cover;
        }
    }
}

}