/* =============
    Footer
============= */

footer {
    background-color: #05404F;
    div {
        #locations {
            section {
                section {
                    display: grid;
                    grid-template-columns: 10% auto;
                }
            }
        }
    }
}
