/* =============
    Footer
============= */

footer {
    background-color: #05404F;
    div {
        #locations {
            @include md{
                float: left;
            }
            section {
                section {
                    display: grid;
                    grid-template-columns: 10% auto;
                }
            }
        }
        #newsletter{
            @include md{
                float: right;
            }
        }
        #follow-us{
            @include md{
                float: right;
            }
        }
    }
}

