/* =============
    Footer
============= */

footer {
    background-color: var(--navy);
    padding: 16px 0 16px 0;
  
    >div {

        display: grid;
        
        gap: 16px;

        @include md {
            grid-template-columns: 50% auto;

            grid-template-areas: 
            "locations newsletter"
            ". follow-us";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "locations newsletter follow-us";
        }

        #locations {
            padding-top: 24px;
            h3{
                font-weight: 500;
                font-size: rem-calc(20);
                color: white;
                margin: 0 0 24px 0;
            }
            p{
                color: white;
                padding: 0 0 8px 0;
                font-weight: 500;
                font-size: rem-calc(16);
            }
            address{
                color: white;
                font-weight: 400;
                font-size: rem-calc(12);
            }
            a{
                color: white;
                text-decoration: none;
                font-weight: 400;
                font-size: rem-calc(12);
            }
            @include md{
                grid-area: locations;
            }
            section {
                margin-top: 24px;
                section {
                    display: flex;
                    align-items: center;
                    margin-top: 16px;
                    img{
                        margin-right: 24px;
                    }
                }
            }
        }
        #newsletter{
            padding-top: 24px;
            h3{
                font-weight: 500;
                font-size: rem-calc(20);
                color: white;
                margin: 0 0 24px 0;
            }
            input{
                border: none;
                background-color: var(--light-grey);
                width: 100%;
                box-sizing: border-box;
                padding: 16px 8px;
                border-radius: 0;
                margin-bottom: 24px;
            }
            @include md{
                grid-area: newsletter;
            }
            #newsletter-button{
                text-align: right;
            }
        }
        #follow-us{
            padding-top: 24px;
            h3{
                font-weight: 500;
                font-size: rem-calc(20);
                color: white;
                margin: 0 0 24px 0;
            }
            @include md{
                grid-area: follow-us;
                margin-top: -220px;
                padding: 0;
            }
            @include lg{
                margin: 0;
                text-align: right;
                padding-top: 24px;
            }
        }
    }
}

